extends .././includes/layout.pug

block content
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<title>Login V13</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->	
		<link rel="icon" type="image/png" href="imageslogin/icons/favicon.ico"/>
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendorlogin/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="fontslogin/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="fontslogin/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="fontslogin/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendorlogin/animate/animate.css">
	<!--===============================================================================================-->	
		<link rel="stylesheet" type="text/css" href="vendorlogin/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendorlogin/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="vendorlogin/select2/select2.min.css">
	<!--===============================================================================================-->	
		<link rel="stylesheet" type="text/css" href="vendorlogin/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="csslogin/util.css">
		<link rel="stylesheet" type="text/css" href="csslogin/main.css">
	<!--===============================================================================================-->
	</head>
	<body style="background-color: #999999;">
		
		<div class="limiter">
			<div class="container-login100">
				<div class="login100-more" style="background-image: url('imageslogin/mazdacarretera.jpg');"></div>

				<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
					<form class="login100-form validate-form" method="post" action="/registeruser" autocomplete='off'>
						//- <a href="/" class="logo">
						//- 	<img src="images/icons/mazda-small.png" alt="IMG-LOGO">
						//- </a>

						<span class="login100-form-title p-b-59">
							Sign Sing Up
						</span>

						<div class="wrap-input100 validate-input" data-validate="Name is required">
							<span class="label-input100">Full Name</span>
							<input class="input100" type="text" name="completeName" placeholder="Name...">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
							<span class="label-input100">Email</span>
							<input class="input100" type="text" name="email" placeholder="Email...">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Password is required">
							<span class="label-input100">Password</span>
							<input class="input100" type="password" name="password" placeholder="*************">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Adress line is required">
							<span class="label-input100">Adress line</span>
							<input class="input100" type="text" name="adressLine" placeholder="Adress line...">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Cellphone is required">
							<span class="label-input100">Cellphone</span>
							<input class="input100" type="text" name="cellphone" placeholder="Cellphone...">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Workstation is required">
							<span class="label-input100">Workstation</span>
							<input class="input100" type="text" name="workstation" placeholder="Workstation...">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Sucursal code is required">
							<span class="label-input100">Sucursal code</span>
							<input class="input100" type="text" name="sucursales_sucursalCode" placeholder="Sucursal code...">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate = "Agency code is required">
							<span class="label-input100">Agency code</span>
							<input class="input100" type="text" name="sucursales_mainAgency_idAgencyCode" placeholder="Agency code...">
							<span class="focus-input100"></span>
						</div>

						//- Combobox
						//- <div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
						//- 	<select class="selection-2" name="sorting">
						//- 		<option>Default Sorting</option>
						//- 		<option>Popularity</option>
						//- 		<option>Price: low to high</option>
						//- 		<option>Price: high to low</option>
						//- 	</select>
						//- </div>

						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn" href="/loginuser">
									Sign Sign Up
								</button>
							</div>

							<a href="/login" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
								Sign Log in
								<i class="fa fa-long-arrow-right m-l-5"></i>
							</a>
						</div>

					</form>
				</div>
			</div>
		</div>
		
	<!--===============================================================================================-->
		<script src="vendorlogin/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
		<script src="vendorlogin/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
		<script src="vendorlogin/bootstrap/js/popper.js"></script>
		<script src="vendorlogin/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
		<script src="vendorlogin/select2/select2.min.js"></script>
	<!--===============================================================================================-->
		<script src="vendorlogin/daterangepicker/moment.min.js"></script>
		<script src="vendorlogin/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
		<script src="vendorlogin/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
		<script src="jslogin/main.js"></script>

	</body>
	</html>